$bodyfont: 'Space Mono', monospace;

$darkestgreen: rgba(13, 13, 13, 1);
$darkgreen: rgba(2, 38, 1, 1);
$green: rgba(21, 115, 7, 1);
$lightgreen: rgba(29, 191, 23, 1);
$lightestgreen: rgba(29, 242, 43, 1);

html {
  height: 100%;
}

body {
  font-family: $bodyfont;
  background-color: $darkestgreen;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: right;
  color: $green;
  font-size: 1.5rem;
  @media (max-width: 550px) {
    font-size: 1rem;
  }
}

p {
  text-align: right;
  color: $green;
  font-size: 1rem;
  @media (max-width: 550px) {
    font-size: 0.75rem;
  }
}

ul {
  padding: 0rem;
  border-right: 1rem $green solid;
}

ul li {
  padding: 1rem;
  text-align: right;
  color: $green;
  list-style-type: none;
  outline: 0.2rem $darkgreen solid;
  border: 0.2rem $darkestgreen solid;
  margin: 1rem;
  &:hover {
    transition: all 0.3s ease-out;
    background: $darkgreen;
    outline: 0.2rem $green solid;
  }
  & a:focus {
    transition: all 0.3s ease-out;
    background: $darkgreen;
    outline: 0.2rem $darkgreen solid;
  }
}

a {
  color: $lightgreen;
  padding: 0.5rem;
  font-size: 1rem;
  @media (max-width: 550px) {
    font-size: 0.75rem;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  &:before {
    content: " ";
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    border: 1.25rem solid $darkestgreen;
    border-radius: 11vw;
    box-shadow: inset 0rem 0rem 4rem 0rem $green;
    pointer-events: none;
  }
  &:after {
    content: " ";
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    border: 0.25rem solid $lightgreen;
    filter:drop-shadow(0 0 0.5rem $lightgreen);
    border-radius: 10vw;
    pointer-events: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.header, .main, .footer {
  width: 60vw;
  padding: 1rem;
  @media (max-width: 550px) {
    width: 80vw;
  }
}

.header {
  margin-top: 4rem;
  margin-bottom: 0.2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

.footer {
  margin-top: 0.2rem;
  margin-bottom: 4rem;
  & a:hover {
    transition: all 0.3s ease-out;
    background: $darkgreen;
    outline: 0.2rem $green solid;
  }
  & a:focus {
    transition: all 0.3s ease-out;
    background: $darkgreen;
    outline: 0.2rem $darkgreen solid;
  }
}
